.border a {
  border: solid 2px;
  border-radius: 50px;
  padding: 4%;
  border-color: blue;
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: solid 2px #097ec2;
}
/* Estilo y animación para el subrayado */
.underline-animate {
  position: relative;
  display: inline-block;
  color: inherit;
}

.underline-animate::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: blue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animate:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
