.img-z {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-z img {
  margin: 4rem;
}
.cards .grid-x {
  width: 40rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .grid-x .imagenes-z,
.cards .grid-x .cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards .imagenes-z .imagen-enlace {
  width: 60%;
}
.texto-z {
  color: #fff;
  width: 90%;
  height: 11vh;
  padding: 0.5rem;
}
.text-1 {
  background-color: #2193f3;
}
.cards .grid-x .imagenes-z a {
  color: inherit;
  text-decoration: none;
}
